@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;  /* Fondo negro */
  --foreground: #ffffff;  /* Texto blanco */
  --primary: #00C207;
  --secondary: #82B70E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--primary);
}

h2 {
  font-size: 2rem;
  color: var(--secondary);
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;  
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--foreground);
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--secondary);
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out;
}

