@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;  /* Fondo negro */
  --foreground: #ffffff;  /* Texto blanco */
  --primary: #00C207;
  --secondary: #82B70E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--primary);
}

h2 {
  font-size: 2rem;
  color: var(--secondary);
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;  
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--foreground);
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--secondary);
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out;
}

/* --- Estilos específicos para el componente Logo --- */

.logo h1:first-child {
  font-size: 3rem; /* Tamaño del texto para "Bms Support" */
  color: var(--secondary);
  text-align: right;
}

.logo h1:last-child {
  font-size: 3rem; /* Tamaño del texto para "Technology LLC" */
  color: var(--secondary);
  text-align: right;
}

.logo h1 span {
  color: var(--primary); /* Color para "LLC" */
}

.logo p {
  font-size: 1.1rem; /* Tamaño más pequeño para el eslogan */
  text-align: center;
  max-width: 24rem; /* Ancho máximo para centrado */
  margin: 0 auto; /* Centrado horizontal */
  color: var(--foreground);
}

/* --- Estilos específicos para el componente ModFoot --- */
.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(100%); /* Oculto inicialmente */
  transition: transform 0.3s ease-in-out;
}

.modal.visible {
  transform: translateY(0); /* Aparece desde abajo */
}

.modal-content {
  padding: 1rem;
  text-align: center;
}
